a   nav-link    class   {nav-link}
page   div        class   {page-title-box}
input    text       id       {searchInput}  
select   div    class        choices
select    div    class        {choices__item[1]}
select   div    class        choices
select    div    class        {choices__item[2]}
button   script   id    filterData()
input    radio     class        {btn-check}