r << 1 1
0 PIN_FLD_POID           POID [0] ${poid}
0 PIN_FLD_PROGRAM_NAME    STR [0] "OAP"
0 PIN_FLD_END_T        TSTAMP [0] (${end_t})
0 PIN_FLD_START_T      TSTAMP [0] (${start_t})
0 PIN_FLD_FLAGS           INT [0] ${flags}
0 PIN_FLD_LOGIN    STR [0] "${login}"
0 PIN_FLD_SERVICE_TYPE  STR [0] "${servicetype}"
0 CUS_FLD_SERVICE_IDENTIFIER STR [0] "${service_identifier}"
1
xop CUS_OP_INTEG_VIEW_OTHER_CHARGES 0 1