r << a 1
0 PIN_FLD_POID              POID [0] 0.0.0.1 /account -1 0
0 PIN_FLD_BILLINFO_OBJ      POID [0] ${PIN_FLD_RESULTS_PIN_FLD_POID1}
0 PIN_FLD_PROGRAM_NAME      STR  [0] "OAP"
a
xop PCM_OP_BILL_MAKE_BILL 0 1